 <!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a class="active" href="index.html">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span>Danh mục</span>
                    </a>
                    <ul class="sub">
                        <li><a asp-page="/Categories/Index"><i class="fa fa-folder-o"></i>Danh mục Chuyên mục</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span>Quản lý</span>
                    </a>
                    <ul class="sub">
                        <li><a asp-page="/Blogs/Index"><i class="fa fa-folder-o"></i>Quản lý Chuyên mục</a></li>
                        <li><a asp-page="/Users/Index"><i class="fa fa-folder-o"></i>Quản lý Người dùng</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span>Báo cáo - Thống kê</span>
                    </a>
                    <ul class="sub">
                        <li><a href="#"><i class="fa fa-folder-o"></i>Báo cáo</a></li>
                        <li><a href="#"><i class="fa fa-folder-o"></i>Thống kê</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span>Cấu hình</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->