<div class="home-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="main-banner-content">
                            <h1>Tìm hiểu <span class="color-text">Trung tâm Dự án FAiSE</span></h1>
                            <p>Chào mừng bạn đến với Trung tâm Dự án FAiSE (Future AI Solutions and Engineering) - một trong những trung tâm nghiên cứu và phát triển hàng đầu tại FPT University Đà Nẵng. Được thành lập với sứ mệnh thúc đẩy sự đổi mới và phát triển công nghệ trong lĩnh vực trí tuệ nhân tạo (AI), an toàn thông tin (IA), kỹ thuật phần mềm (SE) và phát triển ứng dụng (CF), FAiSE là nơi hội tụ của những bộ óc sáng tạo và nhiệt huyết nhất trong ngành công nghệ thông tin.</p>
                            <p>FAiSE - Khám phá tương lai, tạo dựng giải pháp!</p>
                            <div class="banner-btn">
                                <a href="~/Category/lich-su-hinh-thanh_2" class="default-btn-one">
                                    Xem thêm
                                    <span></span>
                                </a>
                                <a class="default-btn" href="~/Contact">
                                    Liên hệ
                                    <span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="banner-image">
                            <img src="~/Clients/Images/home-font.png" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grey-cr"></div>
</div>
