<section class="counter-area section-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 counter-item">
				<div class="single-counter">
					<div class="counter-contents">
						<h2>
							<span class="counter-number">15</span>
							<span>+</span>
						</h2>
						<h3 class="counter-heading">Thành viên trong nhóm</h3>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 counter-item">
				<div class="single-counter">
					<div class="counter-contents">
						<h2>
							<span class="counter-number">3</span><span>+</span>
						</h2>
						<h3 class="counter-heading">Dự án đang thực hiện</h3>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 counter-item">
				<div class="single-counter">
					<div class="counter-contents">
						<h2>
							<span class="counter-number">200</span>
							<span>+</span>
						</h2>
						<h3 class="counter-heading">Sinh viên đang tham gia</h3>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 counter-item">
				<div class="single-counter">
					<div class="counter-contents">
						<h2>
							<span class="counter-number">2</span>
							<span>+</span>
						</h2>
						<h3 class="counter-heading">Khen thưởng</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>