<section class="services-section">
	<div class="container">
		<div class="row">

			<div class="col-md-12">
				<div class="section-title">
					<h2>Các dịch vụ</h2>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-services-item">
					<div class="services-icon">
						<i class="pe-7s-tools"></i>
					</div>
					<h3>Giải pháp IT</h3>
					<p>Nhằm mang lại hiệu quả cao trong việc quản lý công việc, dễ dàng tiếp nhận công nghệ mới trong lĩnh vực IT mang lại, một điều quan trọng nữa đó là giảm chi phí thấp nhất cho bộ phận IT trong doanh nghiệp.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-services-item">
					<div class="services-icon">
						<i class="pe-7s-display1"></i>
					</div>
					<h3>Web Development</h3>
					<p>Bên cạnh sử dụng những công nghệ lập trình cơ bản như là JavaScript, HTML, CSS. Các web developer ngày nay đã áp dụng rất nhiều những ngôn ngữ lập trình khác để có thể tạo ra những trang web chuyên nghiệp hơn bao gồm các AI.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-services-item">
					<div class="services-icon">
						<i class="pe-7s-share"></i>
					</div>
					<h3>Networking Services</h3>
					<p>Cung cấp hệ thống lưu trữ dữ liệu, bao gồm: VPS, Hosting chất lượng cao, Server Cloud. Đảm bảo đường truyền trực tuyến 24/24. Cung cấp dịch vụ tên miền(.com, .edu.vn, .vn, .com.vn, .net, ....)</p>
				</div>
			</div>
		</div>
	</div>
</section>