<section class="overview-section bg-grey section-padding">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="overview-content">
					<h2>Giải pháp Website AI Thông Minh</h2>
					<p>Với sự phát triển mạnh mẽ của Trí tuệ nhân tạo (AI), các website hiện đại không chỉ đơn thuần là nền tảng hiển thị thông tin mà còn có thể tự động phân tích dữ liệu, cá nhân hóa trải nghiệm người dùng, hỗ trợ ra quyết định và tối ưu hóa hiệu suất kinh doanh.</p>
					<p>Các giải pháp website AI bao gồm:</p>
					<ul class="features-list">
						<li> <span class="active">Giao diện thông minh</span></li>
						<li> <span>Chatbot AI</span></li>
						<li> <span>Phân tích dữ liệu nâng cao</span></li>
						<li> <span>SEO & Tối ưu hóa tự động</span></li>
						<li> <span>AI-Powered E-Commerce</span></li>
						<li> <span>Intelligent Network Monitoring</span></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="overview-image-2">
					<img src="~/Clients/Images/human-ai.png" alt="image">
				</div>
			</div>
		</div>
	</div>
</section>